/* HomePage.css */
.mainForm {
  font-weight: 600;
  /* max-width: 400px; */
  /* margin: auto; */
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.mainForm:hover {
  transform: scale(1.02);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  /* margin: 10px 0; */
  display: flex;

  flex-direction: column;
  justify-content: space-around;

  width: 100%;
  text-align: left;
  /* margin: 10px; */
}

input,
button {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  box-sizing: border-box;
}
select {
  width: 50%;
  padding: 10px;
  margin: 2px 0;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  /* margin: 10px 0px; */
  margin-bottom: 20px;
  border-radius: 20px;
}

button:hover {
  background-color: #45a049;
}

hr {
  width: 100%;
  /* margin: 20px 0; */
}

@media screen and (max-width: 480px) {
  /* Adjust styles for smaller screens */
  .mainForm {
    max-width: 100%;
    /* box-shadow: none; */
  }
  label {
    font-size: 18px;
    border: 1px solid black;
    padding: 5px;
  }
}
